In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/17 02:44:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [14]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [13]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [15]:
set(df_yellow.columns) & set (df_green.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [16]:
# To preserve the order

common_columns = []

yellow_columns = df_yellow.columns

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [19]:
from pyspark.sql import functions as F

In [22]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [23]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [24]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [25]:
df_trips_data.groupby('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 1836432|
|      yellow|32874360|
+------------+--------+

In [26]:
df_trips_data.registerTempTable('trips_data')

/home/suzu.sharma/spark/spark-3.3.4-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [28]:
spark.sql("""
Select service_type, count(1) from trips_data
GROUP BY service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 1836432|
|      yellow|32874360|
+------------+--------+

In [29]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [30]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         254|2021-01-01 00:00:00|       green|  259065.59999999875|    9185.759999999995|                  360.0|        15219.120000000003|          10108.799999999914|                   2735.9999999999504|          296741.28000000014|                                 0.0|        1.0303030303030303|      6.8015526315789305|
|          35|2021-01-01 00:00:00|       green|   363779.7599999927|   14723.759999999987|                  336.0|                  22745.04|           7105.199999999949|                    4075.199999999748|          412764.95999999664|                                 0.0|                       1.0|        132.225281690141|
|         225|2021-01-01 00:00:00|       green|   322066.5599999968|   14354.399999999998|                  588.0|        21104.399999999994|           6627.599999999953|                   4103.9999999997435|          368910.95999999595|                                 0.0|        1.2830188679245282|         33.849125874126|
|          36|2021-01-01 00:00:00|       green|   99045.36000000044|               3384.0|                  324.0|         5954.399999999998|          3488.1599999999935|                    1108.800000000019|          113304.71999999975|                                 0.0|        1.6206896551724137|       5.680584415584404|
|          80|2021-01-01 00:00:00|       green|   78229.20000000003|   2443.2000000000007|                  240.0|         4984.079999999997|          2405.0399999999986|                    856.8000000000096|           89668.31999999999|                               132.0|                       1.1|       6.525798319327728|
|         234|2021-01-01 00:00:00|       green|   20649.12000000001|               1188.0|                    0.0|                     726.0|          1762.5600000000009|                   201.59999999999945|          24527.280000000006|                                null|                      null|       9.337142857142856|
|          89|2021-01-01 00:00:00|       green|  356112.47999999556|             14952.96|                  456.0|        23041.679999999993|           6773.759999999959|                    4161.599999999735|          405744.47999999765|                                 0.0|        1.3953488372093024|       5.095568965517246|
|         252|2021-01-01 00:00:00|       green|  25840.319999999992|                708.0|                   36.0|                    1848.0|           881.2800000000004|                   273.59999999999883|          29587.200000000004|                                 0.0|                       2.0|      7.6363157894736835|
|         235|2021-01-01 00:00:00|       green|   263432.8799999958|    11290.79999999999|                  756.0|        13079.519999999997|          12127.439999999899|                    2851.199999999933|          303603.84000000136|                                66.0|        1.1857142857142857|       7.359444444444448|
|         113|2021-01-01 00:00:00|       green|  10127.039999999999|    626.3999999999999|                   12.0|                     330.0|           440.6400000000002|                   100.80000000000011|          11636.880000000003|                                 0.0|                       1.0|       7.629999999999997|
|          55|2021-01-01 00:00:00|       green|  408679.67999999755|    9445.199999999997|                 1416.0|         16591.19999999999|          10115.759999999904|                    3074.399999999899|          449706.24000000156|                               198.0|        1.2966101694915255|      189.41395784543352|
|         150|2021-01-01 00:00:00|       green|  42832.560000000034|   1664.3999999999999|                   96.0|        2710.5600000000004|          1175.0400000000006|                   439.19999999999845|          49157.759999999864|                                 0.0|                       1.0|       7.362131147540966|
|         193|2021-01-01 00:00:00|       green|   86658.72000000045|               2784.0|                 1212.0|          9648.96000000001|          1028.1600000000005|                   1692.0000000000412|          104409.83999999917|                              1386.0|        1.2077922077922079|       2.265899705014751|
|          52|2021-01-01 00:00:00|       green|  158170.55999999997|               4242.0|                 6060.0|         21450.95999999995|           734.4000000000004|                    3967.199999999764|          197905.92000000426|                              2904.0|        1.1637080867850098|       2.725207956600372|
|         259|2021-01-01 00:00:00|       green|  112788.24000000022|               4988.4|                   84.0|                    5184.0|           6731.279999999975|                   1116.0000000000193|          130891.91999999969|                                 0.0|                       1.0|       8.066838709677423|
|         174|2021-01-01 00:00:00|       green|  258582.95999999708|   11511.359999999997|                  624.0|        12668.159999999996|          11576.159999999907|                   2829.5999999999362|           297924.2399999991|                               132.0|        1.1166666666666667|      330.01744303797517|
|         236|2021-01-01 00:00:00|       green|            78472.32|               3474.0|                 1632.0|         8738.880000000006|          3794.6399999999962|                   1375.2000000000291|          103361.03999999937|                              6534.0|        1.2949640287769784|       4.527591623036651|
|         208|2021-01-01 00:00:00|       green|  119404.79999999957|               5064.0|                  108.0|         7990.800000000003|            5636.39999999998|                   1447.2000000000319|          139651.19999999934|                                 0.0|                       1.2|       5.712686567164189|
|         179|2021-01-01 00:00:00|       green|  127982.88000000104|              4617.36|                 1020.0|         9929.760000000002|           4461.359999999986|                   1785.6000000000447|          150984.95999999944|                               726.0|        1.3707865168539326|       4.703991935483885|
|         108|2021-01-01 00:00:00|       green|  142305.83999999973|               3690.0|                  552.0|                    5682.0|           6572.639999999959|                   1152.0000000000207|          159954.47999999954|                                 0.0|        1.0851063829787233|      11.094375000000015|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [31]:
# reduce to 1 file using coalesce
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')